{% extends 'accounts/index.html' %}
{% load static %}

{% block content %}
    
            
                <div style="margin-left: 40%;" class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <center><strong class="card-title mb-3">Profile Card</strong></center>
                                    </div>
                                    <div class="card-body">
                                        <div class="mx-auto d-block">
                                            <img style="width: 100px;" class="rounded-circle mx-auto d-block" src="{{ request.user.image.url }}" alt="Card image cap">
                                            <h5 class="text-sm-center mt-2 mb-1">{{ request.user.username }}</h5>
                                            <div class="location text-sm-center">
                                                <i class="fa fa-map-marker"></i> {{ request.user.city }}<br>
                                                <i class="fa fa-envelope"></i> {{ request.user.email }}<br>
                                                <i class="fa fa-phone"></i> {{ request.user.contact }}<br>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <a class="btn btn-primary" href="{% url 'accounts:profile_update' pk=request.user.pk %}">Update Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            </div>
                        </div>
                    </div>
             
        <!-- END PAGE CONTAINER-->

    </div>
{% endblock content %}
    